@import "../CarNav/CarNav.scss";
@import "../CarControl/CarControl.scss";
@import "../Loader/Loader.scss";
@import "../Home/Home.scss";
@import "_helpers.scss";


html, body, #root, canvas {
    background-color: #000000;
    height: 100%;
    margin: 0;
    width: 100%;
}

.noscroll {
    overflow: hidden;
}

.logo-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    .logo {
        height: 55px;
        width: 90px;
    }
    & > img {
        position: relative;
        z-index: 100;
    }
}

.vehicle-wrapper {
    height: 100vh;
    top: 0;
    position: absolute;
    width: 100vw;
}